<div class="jumbotron">
        <div class="container">
          <h3>Education and Career details.</h3>
          <p>Enter your Personal, Educational and Career Details.</p>
        </div>
      </div>

<h4>Schooling Details</h4>
<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="10th Class Percentage" aria-label="10prnct" required>
          <input class="form-control mr-sm-2" type="text" placeholder="12th Class Percentage" aria-label="12prnct" required><br><br><br>
          <input class="form-control mr-sm-2" type="text" placeholder="Board of Study" aria-label="brdstdy">
          <input class="form-control mr-sm-2" type="text" placeholder="Extra Achievement 1" aria-label="ext" required>
          <input class="form-control mr-sm-2" type="text" placeholder="Extra Achievement 2" aria-label="ext2">
          <input class="form-control mr-sm-2" type="text" placeholder="Extra Achievement 3" aria-label="ext3">
      </form>
      <br><br>
<h4>Basic Contact Details</h4>
<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Phone Number" aria-label="phn" required>
          <input class="form-control mr-sm-2" type="text" placeholder="Secondary Phone Number" aria-label="2nphn">
          <input class="form-control mr-sm-2" type="text" placeholder="E-mail ID" aria-label="email" required><br><br>
          <input class="form-control mr-sm-2" type="text" placeholder="Father's/Spouse name" aria-label="fth">
          <input class="form-control mr-sm-2" type="text" placeholder="Gaurdian 1" aria-label="grd1">
          <input class="form-control mr-sm-2" type="text" placeholder="FULL NAME" aria-label="flname" required>
          <input class="form-control mr-sm-2" type="text" placeholder="Nick Name(optional)" aria-label="grd3"><br><br><br>
      </form>     



<button class="button" style="vertical-align:middle"><span>SUBMIT</span></button></DIV>