<br>
<h3> CONTACT US </h3>
<br>
<p> Questions? Enquiries? Suggestions? Existential doubts? Our teams are ready to hear about them!</p>
<p> To get in touch with us, you can use the form below or write directly to contact@resumebuild.com</p>
<p> Eazy Resmue Builder </p>
<p> Get in touch with us.</p>
<form method="post" action="/users/contactus">
	<div class="form-group">
		<label>Subject</label>
		<input type="text" class="form-control"
		name="subject" placeholder="Enter Subject Here" required>
	</div>
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control"
		name="name" placeholder="Your Name" required>
	</div>
	<div class="form-group">
		<label>Email</label>
		<input type="email" class="form-control"
		name="email" placeholder="Enter your Email Here" required>
	</div>
	<div class="form-group">
                <label for="inputMessage">Message</label>

                <textarea name="careermessage" class="form-control" tabindex="8"
          		placeholder="Write your details" required></textarea>
            </div>
	<button class="button" style="vertical-align:middle"><span>SUBMIT</span></button>
</form>
