<div class="jumbotron">
        <div class="container">
          <h3>RESUME FORMATS</h3>
          <p>We have all Formats of Resume for Professional, Starter and Student Resume.</p>
        </div>
      </div>
<div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow"><div class="temp">
                <img src="/img/big.jpg" class="card-img-top" alt="Card image cap"></div>
                <div class="card-body">
                  <p class="card-text">Category - Professional</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow"><div class="temp">
                <img class="card-img-top" src="/img/big_cv4.jpg" alt="Card image cap"></div>
                <div class="card-body">
                  <p class="card-text">Category - Professional</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow"><div class="temp">
                <img class="card-img-top" src="/img/big_cv5.jpg" alt="Card image cap"></div>
                <div class="card-body">
                  <p class="card-text">Category - Professional</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                                     </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow"><div class="temp">
                <img class="card-img-top" src="/img/big_cv6.jpg" alt="Card image cap"></div>
                <div class="card-body">
                  <p class="card-text">Category - Starter</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow"><div class="temp">
                <img class="card-img-top" src="/img/big_cv7.jpg" alt="Card image cap"></div>
                <div class="card-body">
                  <p class="card-text">Category - Starter</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow"><div class="temp">
                <img class="card-img-top" src="/img/big_cv11.jpg" alt="Card image cap"></div>
                <div class="card-body">
                  <p class="card-text">Category - Starter</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow"><div class="temp">
                <img class="card-img-top" src="/img/big_cv13.jpg" alt="Card image cap"></div>
                <div class="card-body">
                  <p class="card-text">Category - Starter</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow"><div class="temp">
                <img class="card-img-top" src="/img/big_cv14.jpg" alt="Card image cap"></div>
                <div class="card-body">
                  <p class="card-text">Category - Starter</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow"><div class="temp">
                <img class="card-img-top" src="/img/big_cv15.jpg" alt="Card image cap"></div>
                <div class="card-body">
                  <p class="card-text">Category - Starter</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
